

:root{
    /* color-txt */
  --main-cl: #212121;
  --accent-txt-cl: #757575;  
  --secondary-txt-cl: #ffffff;
  --tertiary-txt-cl: #000000;
  --footer-txt-cl: rgba(255, 255, 255, 0.6);
  /* bg-color */
  --main-bg-cl: #ffffff;
  --accent-bg-cl: #F5F4FA;
  --tertiary-bg-cl: #2F303A;
  --bg-link-cl: #2196F3;
  /* link-color */
  --main-link-cl: #2196F3;
  --accent-link-bg-cl: #188CE8;

 
}
/* header */
h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

.page{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    background-color: var(--main-bg-cl);

}
/* HEADER */
/* logo */
.page-header{
    height: 80px;
    text-align: center;
    display: flex;
    margin-left: 50px;
}
.logo{
    
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    margin-right: 93px;
}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
}
.header-container{
    display: flex;
    align-items: center; 
    justify-content: space-between;
   
}
.navigation{
    display: flex;
    align-items: center; 
}
.web-color{
 color: var(--main-link-cl);
   
}
.studio-color{
    color: var(--tertiary-txt-cl);
}
/* link-list */

.link-list-borow{
    display: flex;
    margin: 0;
    list-style: none;
    padding-left: 0;
}
.link-list-borow{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style-type: none;     
}
.active:visited{
    color: var(--main-link-cl);
}
.link-list-item:hover,
.link-list-item:focus
{
    color: var(--main-link-cl);
    text-decoration: none; 
}
.link-list-item{
    position: relative;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--main-cl);
    text-decoration: none;
   
}

.item-border:after{
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: -200%;
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    border-radius: 2px;
    
}
.item{


}


.link-list-borow .item + .item{
    margin-left: 50px;
}
/* contact-list */
.contact-list{
    display: flex;
    margin: 0;
    padding-left: 0;
    align-items: center;
    
    
}
.item{
    list-style-type: none;
}
.item-contact{
    list-style-type: none;
    
}
.contact-list .item + .item{
    margin-left: 50px;
}
.contact-list-item{   
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1px;
    letter-spacing: 0.02em;
    color: var(--accent-txt-cl);
    text-decoration: none;    
}
.contact-list-item{
    display: flex;
    align-items: center;
    gap: 10px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
.contact-list-item:hover,
.contact-list-item:focus
{
    color: var(--main-link-cl);

}
.contact-list-item:hover .contact-icon,
.contact-list-item:focus .contact-icon{
    fill: #2196F3;
}
.contact-icon{
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    fill: #757575;
}
/* MAIN */
/* section text main */
.text-container{


}
.section-text{
    background-color: var(--tertiary-bg-cl);
    background-image: url(../images/background-image.jpg);
    background-position: center;
    background-repeat:no-repeat ;
    background-size: cover;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background:linear-gradient( rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ), url(../images/background-image.jpg) ;
}
.text-main{
    display: block;
    text-align: center;
    align-items: center;
    margin-left: 242px;
    width: 696px;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.45;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--secondary-txt-cl); 
}
.section-text{
    
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    min-width: 696px; 
    margin-left: auto;
    margin-right: auto;
    
}
/* button-index */
.button-type-index{
    margin-top: 30px;
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    background-color: var(--bg-link-cl);
    color: var(--secondary-txt-cl);
    border: 0;
    border-radius: 6px;
}
.button-type-index:active{
background-color: var(--accent-link-bg-cl);
}
/* section feature */
.icon-block{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: #F5F4FA;
}
.feature-icon{
    
}
.img-how-we-work{   
    display: block;
    max-width: 100%;
    height: auto;
}
.section-office{
padding-bottom: 94px;
padding-top: 94px;
}



.div-personal{
   
}
.div-personal:last-child{
    
}
.feature-container{
}
.feature-list{
    display: flex;
    gap: 30px;
    
}
.feature-title{
    margin-bottom: 10px; 
    margin-top: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--main-cl);
}
.feature-text{
    margin-top: 0;
    margin-bottom: 0; 
    letter-spacing: 0.03em;
    font-size: 14px;
    color: var(--accent-txt-cl);
}
/* HOW WE WORK */
.section-how-we-work{
    padding-top: 0;
}
.section-title{
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--main-cl);
}
.work-container{
    flex-direction: column;
    
}
.how-we-work-list{
    display: flex;
    gap: 30px;
    list-style: none;
}
/* personal */
.img-personal{
    display: block;
    max-width: 100%;
    height: auto;
}
.list-persolnal{
    margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.list-persolnal:last-child{
    margin-right: 0;
}
.section-personal{
   background-color: var(--accent-bg-cl) 
}
.section-personal{
    
}
.personal-container{
    flex-direction: column;
  
    
}
.personal-name{
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    display: flex;
    background-color: #ffffff;
    

}
.personal-item{
    margin-top: 30px;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    color: var(--main-cl);
}
.personal-work{
    margin-top: 10px;
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    color: var(--accent-txt-cl);
    
}
.socials-link{
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

}
.social-list{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 30px;
}
.socials-item{
    list-style: none;
}
.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon
{
    fill: #ffffff;
}

.socials-link:hover,
.socials-link:focus{
    background-color: #2196f3;
}
.socials-icon{
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    fill: #AFB1B8;  
}

/* section-client */
.logo-client{
font-weight: 700;
font-size: 36px;
line-height: 1,17;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 50px;
}

.client-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.client-link{
    list-style: none;
}
.socials-icon-client{
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    width: 106px;
    height: 60px;
    fill: #afb1b8;
}
.socials-client{
    transition-property: color, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #afb1b8;
    width: 170px;
    height: 92px;
}
.socials-client:hover .socials-icon-client,
.socials-client:focus .socials-icon-client{
    fill: #2196F3;
}
.socials-client:hover,
.socials-client:focus{
    border: 1px solid #2196F3;
}
/* FOOTER */
.footer{
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer{
    background-color: var(--tertiary-bg-cl);
}
.container-contact{
    display: flex;
    gap: 70px;
    align-items: baseline;
    
}
.footer-logo{
    display: block;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color: var(--secondary-txt-cl);    
}
.footer span{
    color: #2196F3;
}
.addres-name{
    font-size: 14px;
    color: var(--secondary-txt-cl);
    list-style-type: none;
}

.addres-name-item{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--secondary-txt-cl);
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.addres-name-item:hover,
.addres-name-item:focus{
color: var(--main-link-cl);
}
.footer-contact-list{
padding-bottom: 0;    
padding-left: 0;
}
.icon-text{
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-txt-cl);
    margin-bottom: 20px;
}
.address-contact{
    font-style: normal;
    margin-top: 20px
}
.item-contact{
    margin-top: 9px;
}

.footer-icon-list{
    
    display: flex;
    gap: 10px;
}
.footer-link{
list-style: none;
}
.footer-icon{
    fill: #FFFFFF;
}
.footer-site{
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}
.footer-site:hover .footer-icon,
.footer-site:focus .footer-icon{
    
}
.footer-site:hover,
.footer-site:focus{
    background-color: #2196F3;
}

.send-mail-footer {
display: block;
margin-left: auto;
}

.title-footer {
margin-bottom: 20px;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--secondary-txt-cl);
}

.input-footer {
padding-left: 16px;
width: 358px;
height: 50px;
background-color: transparent;
color: var(--light-bgk);
border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
transition-property: border-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.btn-footer {
display: flex;
gap: 10px;
justify-content: center;
align-items: center;
text-align: center;
min-width: 200px;
height: 50px;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
background-color: var(--bg-link-cl);
color: var(--secondary-txt-cl);
border: none;
border-radius: 4px;
cursor: pointer;
transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-footer:hover,
.btn-footer:focus {
background-color: var(--accent-link-bg-cl);
}

.footer-send-block {
display: flex;
gap: 12px;
margin-top: 20px;
}

.send-footer {
fill: currentColor;
}

.input-footer:focus,
.input-footer:hover {
border-color: var(--bg-link-cl);
}


/* PORTFOLIO */
/* button */

.portfoli-header{
border-bottom: solid 1px #ECECEC;
}
.portfolio-list-text{
border-left: solid 1px #eeeeee ;
border-right: solid 1px #eeeeee ;
border-bottom: solid 1px #eeeeee ;
padding: 20px 24px;
}
.type-button-portfolio{
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 0;
}
.button-item-portfolio{
    margin-right: 8px;

}
.portfolio-site{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
    margin-top: 0;
    margin-top: 50px;
    padding-left: 0px;
    gap: 30px;
}
.type-button-portfolio-item{
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    border: none;
    background-color: var(--accent-bg-cl); 
    color: var(--main-cl);
    padding: 6px 25px;
    border-radius: 6px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.type-button-portfolio-item:hover,
.type-button-portfolio-item:focus{
    background-color: var(--bg-link-cl);
    color: var(--secondary-txt-cl);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
/* title */
.img-portfolio{
    display: block;
    max-width: 100%;
    height: auto;
}

.title-portfolio{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-cl);
    margin-bottom: 0;
    margin-top: 0;  
}
.paragraph-portfolio{   
    margin-top: 4px; 
    margin-bottom: 0;
    margin-top: 0;  
    font-size: 16px;
    line-height: 2;
    color: var(--accent-txt-cl);
}
.link-list-portfolio{
    list-style-type: none;

}
.link-list-portfolio:nth-child(3n+3){
    margin-right: 0px;
}
.link-work-item{
    display: block;
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-work-item:hover{
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.link-work-item:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.footer-contact-list-item{
    font-style: normal;
    text-decoration: none;
    color: var(--footer-txt-cl);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contact-list-item:hover,
.footer-contact-list-item:focus{
color: var(--main-link-cl);   
}

/* modal-window */
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: visibility 500ms, opacity 500ms;
}
.modal {
    padding: 20px 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
.modal-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 0;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms;    
}
.modal-btn:hover,
.modal-btn:focus,
.modal-close-btn:hover,
.modal-close-btn:focus
{
    fill: #2196F3;
}
.register-form-title{
    display: block;
    text-align: center;
    font-size: 20px;
    margin-bottom: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    }
.register-form-field{
    position: relative;
    display: block;
    margin-bottom: 8px;
}
.register-form-label{
    display: block;
    font-size: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 4px;
}
.register-form-input{
    width: 100%;
    height: 45px;
    border-radius: 10px;
    padding-left: 42px;
    padding-right: 42px;
    outline: transparent;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transition: 400ms;
}
.register-form-input:hover,
.register-form-input:focus{
    border-color: #2196F3;
}
.register-form-input:hover + .register-form-icon,
.register-form-input:focus + .register-form-icon{
    fill: #2196f3;
}
.register-form-icon{
    position: absolute;
    top:0;
    left: 10px;
    margin-top: 29px;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    fill: #212121;

    
}
.register-form-group{
    gap: 10px;
    margin-bottom: 20px;
}
.register-form-agreement{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.register-form-message{
    resize: none;
    outline: transparent;
    border: solid 1px hsl(0, 0%, 20%);
    border-radius: 5px;
    width: 458px;
    height: 120px;
    padding: 16px 12px;
    outline: transparent;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
.register-form-message:hover,
.register-form-message:focus{
    border-color: #2196F3;
}
.register-form-checkbox{
    width: 16px;
    height: 15px;
    border: solid 1px #212121;
    
}
.register-form-desc{
    color: #757575;
}
.registered-form-link{
    text-decoration-line: underline;
    color: #2196F3;
}
.register-form-btn{
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    margin-top: 30px;
    border-radius: 4px;
    background-color: #2196f3;
    color: #FFFFFF;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;

}
.register-form-btn:hover,
.register-form-btn:focus{
    background-color: #188CE8;
}
.icon-checked {
opacity: 0;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-unchecked {
opacity: 1;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.register-form-checkbox:checked + 
.register-form-icons .icon-checked {
opacity: 1;
}

.register-form-checkbox:checked + 
.register-form-icons .icon-unchecked {
opacity: 0;
}
.visually-hidden {
position: absolute;
white-space: nowrap;
width: 1px;
height: 1px;
overflow: hidden;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
clip-path: inset(50%);
margin: -1px;
}
/* OVERLAY */
.card-overlay{
    position: relative;
    overflow: hidden;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(33, 150, 243, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100%);
    width: 100%;
    height: 100%;
    padding: 20px;
    backdrop-filter: blur(4px);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}
.overlay-desc{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: var(--secondary-txt-cl);
}
.link-list-portfolio:hover .overlay{
    transform: translateY(0);
}
.work-box{
    position: relative;
}
.box-paragraph-work{
    position: absolute;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    background-color: rgba(47, 48, 58, 0.8);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    right: 0;
    bottom: 0;

}